/*DISPLAY*/
.d-flex { display: flex; }
.d-none { display: none;}


/*FLEX*/
.flex-row { flex-direction: row; }
.flex-column { flex-direction: column; }
.flex-reverse { flex-direction: row-reverse;}
.flex-grow { flex-grow: 1; }


/*ALIGN AND JUSTIFY*/
.justify-content-between { justify-content: space-between; }
.justify-content-center { justify-content: center; }
.align-items-center { align-items: center; }
