/*DISPLAY*/
.d-flex { display: flex; }


/*FLEX*/
.flex-grow { flex-grow: 1; }
.flex-column { flex-direction: column; }
.flec-grow { flex-grow: 1; }

/*ALIGN AND JUSTIFY*/
.justify-content-between { justify-content: space-between; }
.align-items-center { align-items: center; }