/*WIDTH*/
.max-width { max-width: 192rem; }

/*MARGIN*/
.mr-auto, .mx-auto { margin-right: auto; }
.ml-auto, .mx-auto { margin-left: auto; }

/*PADDING*/
.p-4 { padding: var(--distance-4);}
.p-5 { padding: var(--distance-5);}
.p-6 { padding: var(--distance-6);}
.p-8 { padding: var(--distance-8);}
.p-12 { padding: var(--distance-12);}
.p-15 { padding: var(--distance-15);}

/*TYPOGRAPHY*/
.text-decoration-none { text-decoration: none;}

/*CIRCLE*/
.circle { border-radius: 100%;}

/*SHADOWS*/
.shadow-sm { box-shadow: var(--shadow-small-light); }

/*BUTTONS*/
nav div a:not(:first-child) { margin-left: var(--distance-12);}

/*COLORED BAR*/
.bar-height{ height: 0.3rem; }

/*IMAGES*/
.logo-width { max-width: 13rem; }

